<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Flatiron School - Developing Professionals</title>

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link type="text/plain" rel="lol" href="/humans.lol/">
<link rel="stylesheet" href="css/fontawesome/css/font-awesome.min.css">
<link href="http://students.flatironschool.com/css/style.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="http://students.flatironschool.com/css/profile.css">
<link href="http://students.flatironschool.com/css/prettyPhoto.css" type="text/css" rel="stylesheet">
<link href="http://students.flatironschool.com/css/tipsy.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="http://students.flatironschool.com/js/libs/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="http://students.flatironschool.com/js/libs/modernizr-1.7.min.js"></script>
<script type="text/javascript" src="http://students.flatironschool.com/js/libs/css3-mediaqueries.js"></script>
<script type="text/javascript" src="http://students.flatironschool.com/js/libs/jquery.easing.1.2.js"></script>
<script type="text/javascript" src="http://students.flatironschool.com/js/libs/jquery.visualNav.min.js"></script>
<script type="text/javascript" src="http://students.flatironschool.com/js/libs/jquery.tipsy.js"></script>
</head>

<body>
<div id="page">
  <header id="header">
    <div class="center">
      <nav id="main-menu">
        <ul>
          <li class="site-title"><a href="/">Students @ Flatiron School</a></li>
        </ul>
        <ul>
          <li><a href="http://flatironschool.com">More about Our School</a></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
  </header>

  <! -- Begin Main About Section -->
  <section id="about" class="about-us content" style="margin-top: 34px">
    <div class="center">
      <!--start column_wrap-->
      <div class="columns">
        <div class="one_third">
          <img src="http://students.flatironschool.com/<%= @student.image %>" width="300px" alt="Sample Image">
        </div>
        <div class="two_third last">
          
          <h1><%=@student.name %></h1>

          <% if @student.tagline.length > 0 %>
            <h2><%=@student.tagline %></h2>
          <% end %>
            
          <% if @student.short.length > 0 %>  
            <p><%=@student.short %></p>
          <% end %>

          <% if @student.aspirations.length > 0 %> 
            <h3>Aspirations</h3>
            <p><%=@student.aspirations %></p>
          <% end %>

          <% if @student.interests.length > 0 %>
            <h3>Interests</h3>
            <p><%= @student.interests %></p>
          <% end %>

          <div class="social_icons">
            <ul>
              <li><a href="#"><i class="icon-linkedin"></a></i></li>
              <li><a href="http://walliswt.github.com"><i class="icon-globe"></a></i></li>
              <li><a href="https://twitter.com/WallisWT"><i class="icon-twitter"></a></i></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End Main About Section -->

  <div class="clear title rule" /></div>

  <! -- Begin Former Life Section Section -->
  <section id="former_life">
    <div class="center">
      <h2 class="title"><span>Former Life </span></h2>
      <div class="columns">
        <div class="one_half">
          <h3>Work</h3>
          <ul class="check_style">
            <li><a href="http://www.goldmansachs.com">Goldman, Sachs & Co., 2002-2013</a></li>
            <li><a href="http://schools.nnu.cn/manage/website/jlnzxy/index.aspx">Ginling Women’s College of Nanjing Normal University, 2001-2002</a></li>
          </ul>
        </div>
        <div class="one_half last">
          <h3>Education</h3>
          <ul class="check_style">
            <li><a href=http://new.wellesley.edu">B.A. in Economics, Wellesley College, 1997-2001, Summa Cum Laude, Phi Beta Kappa</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Former Life Section -->

  <div class="clear"></div>

  <!-- Begin Coder Cred Section -->
  <section id="coder-cred">
    <div class="center">
      <h2 class="title"><span>Coder Cred</span></h2>
      <div class="columns coder_cred">
        <div class="one_half coder_cred">
          <table>
            <tbody>
              <tr>
                <td><a href="https://github.com/WallisWT" target="_blank"><img src="http://students.flatironschool.com/images/github_eewang.png" alt="GitHub" width="110px"></a></td>
                <td><a href="http://teamtreehouse.com/walliswt" target="_blank"><img src="http://students.flatironschool.com/images/treehouse_eewang.png" alt="Treehouse" width="100px"></a><a></a></td>
              </tr>
              <tr>
                <td><a href="http://www.codeschool.com/users/WallisWT" target="_blank"><img src="http://students.flatironschool.com/images/codeschool_eewang.jpg" alt="Code School" width="110"></a></td>
                <td><a href="https://coderwall.com/dashboard" target="_blank"><img src="http://students.flatironschool.com/images/coderwall_eewang.jpeg" alt="Coder Wall" width="110"></a></td>
              </tr>
            </tbody>
          </table>

          <div>
            <h3>Latest Blog Post </h3>
            <p>Three things I learned from the Financial Crisis that apply to learning to code...</p>
            <p><a href="http://walliswt.github.com" target="_blank">Read More...</a></p>
          </div>
        </div>
        <div class="one_half coder_cred last">
          <h3>Latest Presentation Teaser </h3>
          <iframe src="http://youtu.be/hVimVzgtD6w" width="490px" height="470px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:none;" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </section>
  <!-- End Coder Cred Section -->

  <section id="copyright" class="footer content">
    <div class="center">
      <p>&copy; 2012. All Your Rights Are Belong To Us.</p>
      <div class="clear"></div>
    </div>
  </section>

</div>

<script src="js/custom.js" type="text/javascript"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33578770-1']);
  _gaq.push(['_setDomainName', 'flatironschool.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--/border-->
<div id="left-border"></div>
<div id="right-border"></div>
<div id="top-border"></div>
<div id="bottom-border"></div>
</body>
</html>