  <! -- Begin Main About Section -->
  <section id="about" class="about-us content" style="margin-top: 34px">
    <div class="center">
      <!--start column_wrap-->
      <div class="columns">
        <div class="one_third">
          <img src="http://students.flatironschool.com/<%= @student.image %>" width="300px" alt="Sample Image">
        </div>
        <div class="two_third last">
          
          <h1><%=@student.name %></h1>

          <% if @student.tagline.length > 0 %>
            <h2><%=@student.tagline %></h2>
          <% end %>
            
          <% if @student.short.length > 0 %>  
            <p><%=@student.short %></p>
          <% end %>

          <% if @student.aspirations.length > 0 %> 
            <h3>Aspirations</h3>
            <p><%=@student.aspirations %></p>
          <% end %>

          <% if @student.interests.length > 0 %>
            <h3>Interests</h3>
            <p><%= @student.interests %></p>
          <% end %>

          <div class="social_icons">
            <ul>
              <li><a href="#"><i class="icon-linkedin"></a></i></li>
              <li><a href="http://walliswt.github.com"><i class="icon-globe"></a></i></li>
              <li><a href="https://twitter.com/WallisWT"><i class="icon-twitter"></a></i></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End Main About Section -->

  <div class="clear title rule" /></div>

  <! -- Begin Former Life Section Section -->
  <section id="former_life">
    <div class="center">
      <h2 class="title"><span>Former Life </span></h2>
      <div class="columns">
        <div class="one_half">
          <h3>Work</h3>
          <ul class="check_style">
            <li><a href="http://www.goldmansachs.com">Goldman, Sachs & Co., 2002-2013</a></li>
            <li><a href="http://schools.nnu.cn/manage/website/jlnzxy/index.aspx">Ginling Women’s College of Nanjing Normal University, 2001-2002</a></li>
          </ul>
        </div>
        <div class="one_half last">
          <h3>Education</h3>
          <ul class="check_style">
            <li><a href=http://new.wellesley.edu">B.A. in Economics, Wellesley College, 1997-2001, Summa Cum Laude, Phi Beta Kappa</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Former Life Section -->

  <div class="clear"></div>

  <!-- Begin Coder Cred Section -->
  <section id="coder-cred">
    <div class="center">
      <h2 class="title"><span>Coder Cred</span></h2>
      <div class="columns coder_cred">
        <div class="one_half coder_cred">
          <table>
            <tbody>
              <tr>
                <td><a href="https://github.com/WallisWT" target="_blank"><img src="http://students.flatironschool.com/images/github_eewang.png" alt="GitHub" width="110px"></a></td>
                <td><a href="http://teamtreehouse.com/walliswt" target="_blank"><img src="http://students.flatironschool.com/images/treehouse_eewang.png" alt="Treehouse" width="100px"></a><a></a></td>
              </tr>
              <tr>
                <td><a href="http://www.codeschool.com/users/WallisWT" target="_blank"><img src="http://students.flatironschool.com/images/codeschool_eewang.jpg" alt="Code School" width="110"></a></td>
                <td><a href="https://coderwall.com/dashboard" target="_blank"><img src="http://students.flatironschool.com/images/coderwall_eewang.jpeg" alt="Coder Wall" width="110"></a></td>
              </tr>
            </tbody>
          </table>

          <div>
            <h3>Latest Blog Post </h3>
            <p>Three things I learned from the Financial Crisis that apply to learning to code...</p>
            <p><a href="http://walliswt.github.com" target="_blank">Read More...</a></p>
          </div>
        </div>
        <div class="one_half coder_cred last">
          <h3>Latest Presentation Teaser </h3>
          <iframe src="http://youtu.be/hVimVzgtD6w" width="490px" height="470px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:none;" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </section>
  <!-- End Coder Cred Section -->