

    <section id="about" class="about-us content">
      <div class="center">
        <h1 id="intro" style="padding-top: 20px">
          Every story has heroes. We're 28 people on a journey to learn to love code.
        </h1>

        <div class="columns">
          <% @students.each_with_index do |student, index| %>
          <div class="one_third">
            <a href="/<%= student.slug %>">
              <% unless student.image == '[Null]' %>
                <img class="person" src="http://students.flatironschool.com/<%= student.image %>" alt="<%=student.name%>" width="60px">
              <% end %>
              <div class="name-position">
                <h2><%= student.name%></h2>
                <div class="position"><%= student.tagline%></div>
              </div>
              <div class="clear"></div>
            </a>
            <p class="excerpt"><%= student.short%></p>
          </div>

          <% end %>

        </div>
        <!-- /END .columns-->
        <div class="clear"></div>
      </div>
      <!-- /END .center-->
    </section>
  <!-- End Section Section -->